BASE_FOLDER=/home/marc/programm/nextcloud
NEXTCLOUD_DATA_FOLDER=/mnt/nextcloud-data
LETSENCRYPT=letsencrypt
NEXTCLOUD_APPS=nextcloud-apps
NEXTCLOUD_CONFIG=nextcloud-config
NEXTCLOUD_CORE=nextcloud-core
NEXTCLOUD_MYSQL=nextcloud-mysql

BACKUP_FOLDER=/media/marc/0519a4be-d9ce-4725-81f3-a26d9e577d13/backup
